{% extends "bootstrap/base.html" %}
{% import  "bootstrap/wtf.html" as wtf %}
{% block head %}
    {{super()}}   
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$','$'], ['\\(','\\)']],
                processEscapes: true
            }
        });
    </script>        
{% endblock head %}
{% block metas %}
    {{super()}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock metas %}

{% block styles %}
    <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
        crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" 
        crossorigin="anonymous">
{% endblock styles %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                {% block editor%}{% endblock editor%}
            </div>
            <div class="col-md-4">
                <h3>priview</h3>
                <div id="preview">
                    <p>$$\frac{-b\pm\sqrt{b^2-4ac}}{2a}$$</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script 
        src="static/js/jquery-3.2.1.min.js">
    </script>
    <script 
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
        crossorigin="anonymous"></script>
    <script 
        src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js" 
        type="text/javascript"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/js/bootstrap-markdown.js">
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Sanitizer.min.js"></script>
    <script src="static/js/markdown.js"></script>
    <script src="static/js/to-markdown.js"></script>
    <script src="static/js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){            
            $("div.md-controls").remove()
            $("div.md-controls-fullscreen").remove()
            $("div.md-fullscreen-controls").remove()
            
        })
        $("#some-textarea").markdown(
            {
                autofocus: false,
                savable: false,
                resize: "both",
                footer: "",
                fullscreen:"",
                
            })
        $("#target-editor-twitter").markdown({
            onShow:function(e){
                e.hideButtons("cmdPreview")
            },
            onChange: function(e){
                parsed_markdown = e.parseContent()
                div_preview=document.getElementById("preview")
                div_preview.innerHTML = parsed_markdown
                MathJax.Hub.Typeset();
            }            
        })            
        
    </script>
   
  
{% endblock scripts %}
